---
// A palette-cleanser glyph used only between major sections.
---
<div class="pause-device" aria-hidden="true">
  <svg width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M6 0 C6 0 0.5 6 0.5 9 A5.5 5.5 0 0 0 11.5 9 C11.5 6 6 0 6 0Z" fill="var(--color-bay-gold)"/>
  </svg>
</div>

<style>
  .pause-device {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 96px 0;
  }
  @media (max-width: 767px) {
    .pause-device {
      padding: 64px 0;
    }
  }
</style>
